<% @title="Search" %>

<div class="search-content">
  <div class="search-info">
    <h1>Searching!</h1>
    <p>Wouldn't it be nice to be able to search right here?</p>
  </div>
  <%= render "shared/sidebar" %>
</div>
