<fieldset class="no-top-margin prereq">
  <%= f.number_field :prereq_step_number,
      :class => "number-input-box", :min => 1 %>

  <span class="remove-prereq">
    <%= f.link_to_remove raw("<img src=\"/assets/x-icon.png\" title=\"Remove Prereq\"/>") %>
  </span>

  <span class="radio-buttons-label" >
    <%= f.check_box :immediate_prereq %>
  </span>
  <span class="radio-buttons-label preheat-prereq">
    <%= f.check_box :preheat_prereq %>
  </span>
</fieldset>
