<fieldset class="step">
  <span class="step-number">
    (
    <span class="stepnum"></span>
    <%= f.hidden_field :step_number %>
    )
  </span>
  
  <%= f.link_to_remove "Remove Step" %>

  <div class = "tabbed-margin-left">
    <%= render partial: "specific_step_fields", locals: {f: f} %>

    <div class="prereqs">
      <% f.fields_for :step_mappers -%>
      <p><%= f.link_to_add "Add Prereq", :step_mappers %></p>
    </div>
  </div>
</fieldset>

