<% @title="Add Recipe" -%>

<div class="info extra-bottom">

  <div class="message-container">
    <% flash.each do |key, value| %>
      <% if key == "recipe_success" || key == "recipe_error" %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
    <% end %>
  </div>
  
  <% if signed_in? -%>
  
    <div class="recipe-form">
      <h1>Add Recipe</h1>
      <%= render 'recipe_fields' %>
    </div>
    
  <% else -%>
  
    <div class="need-signin">
      <p>Please sign in using the sidebar or <%= link_to "register", signup_path %></p>
    </div>
    
  <% end -%>
  
</div>

