<% @title="Combined Recipes" %>

<div class="combinded-recipes-content">
  <div class="combined-recipes-info">
    <h1>Combined Recipes (Coming Soon)!</h1>
    <p>Now get cooking!</p>
  </div>
  <%= render "shared/sidebar" %>
</div>
