<% @title="Combined Recipes" %>

<div class="combined-recipes-info">
  <h1>Your Lattice Meal (Coming Soon!)</h1>
  <h3>Recipes in Meal</h3>
  <ul>
    <li>Recipe #1</li>
    <li>Recipe #2</li>
    <li>Recipe #3</li>
  </ul>
  <h3>Ingredients</h3>
  <ul>
    <li>Yummy</li>
    <li>Sweet</li>
    <li>Tasty</li>
    <li>BUTTER</li>
    <li>Secret Ingredient</li>
  </ul>
  <h3>Steps</h3>
  <ol>
    <li>(Recipe #1) Step 1</li>
    <li>(Recipe #3) Step 1</li>
    <li>(Recipe #1) Step 2</li>
    <li>(Recipe #2) Step 1</li>
    <li>(Recipe #3) Step 2</li>
    <li>(Recipe #1) Step 3</li>
    <li>(Recipe #2) Step 2</li>
  <ol>
</div>
