<% @title="My Recipes" %>

<div class="info-extra-bottom">
  <h1>Your Recipes</h1>
  <hr />
  <% @my_recipes.each do |recipe| %>
    <div class="recipe">
      <p class="recipe-title">Title: <%= link_to recipe.title, recipe %></p>
      <p class="recipe-tags">Tags: <%= recipe.tags %></p>
    </div>
  <% end %>
</div>