<div id="header">Lattice</div>

<div class="main-menu">
  <ul>
    <%= link_to raw("<li>Home</li>"), root_path %>
    <%= link_to raw("<li>Add Recipe</li>"), new_recipe_path %>
    <a href="#"><li>About</li></a>
    <a href="#"><li>Contact</li></a>
    <a href="#"><li>Search</li></a> <!-- TODO: link to search controller -->
  </ul>
</div>

