<div class="side-bar">
  <div class="user-side-bar">
    <div class="user-header-side-bar">Welcome, Jane Doe!</div>
    <div class="user-content-side-bar">
      <ul>
        <li><%= link_to "Register", controller: "users", action: "new" %></li>
        <li>My Recipes</li>
        <li>Profile</li>
        <li>Account Settings</li>
        <li>Log out</li>
      </ul>
    </div>
  </div>
  <div class="recent-side-bar">
    <div class="recent-header-side-bar">Latest Recipes</div>
    <div class="recent-content-side-bar">
      <ul>
        <li>Easy Recipe #1</li>
        <li>Tasty Recipe #2</li>
        <li>Zesty Recipe #3</li>
      </ul>
    </div>
  </div>
  <div class="kitchen-meal-side-bar">
    <div class="kitchen-meal-header-side-bar">Your Kitchen and Meal</div>
    <div class="kitchen-side-bar">
      <div class="kitchen-content-side-bar">
        <div class="your-kitchen"><u>Your Kitchen:</u></div>
        <div class="stove-tops">Stoves Tops: 4</div>
        <div class="ovens">Ovens: 1</div>
        <div class="microwaves">Microwaves: 1</div>
      </div>
    </div>
    <div class="meal-side-bar">
      <div class="meal-content-side-bar">
        <div class="your-meal"><u>Your Meal:</u></div>
      </div>
    </div>
  </div>
</div>
