<% @title="Home" %>

<div class="home-info">
  <h1>Welcome to Lattice!</h1>
  <p>Lattice helps you cook meals without hassle or wasted time. We give you instructions to cook your recipes so they end at the same time and use your kitchen efficiently. Search our site for recipes to combine, or register an account and add your own recipes.</p>
  <h2>How do I use it?</h2>
  <p>Click "Search" in the top bar to search our recipe database, then choose a recipe you want to cook and click "Add to Meal". When you're satisfied with your meal, click "Combine" to get your combined instructions.<br /><br />
  If you want to add your own recipe to the site, click "Add Recipe" in the top bar and make sure you're logged in. Add the ingredients of your recipe, then input each step. If you're confused or need help, look at the example for adding a recipe.</p>
  <h2>How does it work?</h2>
  <p>Lattice's algorithm combines your recipes so that they will all be done at the same time. It ensures you use your kitchen and attention as efficiently as possible and avoids bad situations like needing to take a pie out of the oven while you're in the middle of making hamburger patties. <br /><br />
  Because of the way Lattice works, we need you to give us a bit more information about your recipes when you add them. It might take a little longer to add your recipes this way, but you only have to do it once. Then every time you want to make a meal we'll save you time (and stress)!</p>
</div>
