<% @title="Home" %>

<div class="home-info">
  <h1>Welcome to Lattice!</h1>
  <p>Sharing meals can be a rewarding way to nourish your body and build community, but not if you're stuck in the kitchen finishing up dinner while your guests have already started eating. Let us take away the timing challenge of food preparation, so that you can sit down to a hot meal with your loved ones!<br /><br />

  Lattice is designed to help amateur cooks prepare meals with professional timing. We combines multiple recipes, providing users with a scheduled list of steps for all the recipes in their meal. A Lattice meal schedule aims for all individual recipes to finish as close to the same time as possible without overusing a cook's kitchen supplies or attention. Logged in users can update their personal kitchen settings, specifying the types and quantity of cooking supplies they have access to, as well as indicate the number kitchen helpers they have preparing a given meal. Recipes on our site can be searched for, viewed, and added to a meal, but unlike other recipe combining apps, Lattice also allows users to upload new recipes. These new recipes can be shared with other users, or made private to keep Grandma's delicious secrets in the family. Although Lattice is designed to make preparing multiple items simpler, users can also turn single recipes into meals and use our schedules to cook individual dishes more efficiently.</p>
  <h2>How do I use it?</h2>
  <p>Click "Search" in the top bar to search our recipe database, then choose a recipe you want to cook and click "Add to Meal". When you're satisfied with your meal, click "Combine" to get your combined instructions.<br /><br />
  If you want to add your own recipe to the site, click "Add Recipe" in the top bar and make sure you're logged in. Add the ingredients of your recipe, then input each step. If you're confused or need help, look at the example for adding a recipe.</p>
  <h2>How does it work?</h2>
  <p>Lattice's algorithm combines your recipes so that they will all be done at the same time. It ensures you use your kitchen and attention as efficiently as possible and avoids bad situations like needing to take a pie out of the oven while you're in the middle of making hamburger patties. <br /><br />
  Because of the way Lattice works, we need you to give us a bit more information about your recipes when you add them. It might take a little longer to add your recipes this way, but you only have to do it once. Then every time you want to make a meal we'll save you time (and stress)!</p>
  <h2>How can I contribute?</h2>
<p>Lattice is an open source software project. Developers wishing to contribute to the site can do so by <a href="https://github.com/zeamador/lattice-recipes" target="_blank">checking out our repository</a>. More information on how to set up our development environment, run our code, and contribute to the release site is available in our top-level README.</p>
</div>
