<% @title="Home" %>

<div class="info">

  <p>
    <i><h2>Share recipes and organize your meals with Lattice!</h2></i>
  </p>

  <ul class="bullets">
    <li><strong>Search</strong> our cookbook</li>
    <li><strong>Add</strong> your own recipes</li>
    <li><strong>Combine</strong> recipes for easy cookin'</li>
    <li><%= link_to "Register now!", signup_path %></li>
  </ul>

  <img src="/assets/combo.png" class="center-image" >

</div>
