<% @title="Home" %>

<div class="info">

  <i><h1>Share recipes and organize your meals with Lattice!</h1></i>

  <div class="welcome-content">
    <% #List of features %>
    <ul class="bullets">
      <li class="bullet-1">
        <img src="/assets/Search.png" class="bullet-image">
        <strong>Search</strong> our cookbook</li>
      <li class="bullet-2">
        <img src="/assets/Add.png" class="bullet-image">
        <strong>Add</strong> your own recipes</li>
      <li class="bullet-3">
        <img src="/assets/Combined.png" class="bullet-image">
        <strong>Combine</strong> recipes for easy cooking</li>
      <% unless signed_in? %>
      <li class="bullet-4">
        <img src="/assets/Register.png" class="bullet-image">
        <%= link_to "Register now!", signup_path %></li>
      <% end %>
    </ul>

    <% #Main image %>
    <div class="center-image">
      <img src="/assets/combo.png" >
    </div>
  </div>

</div>
