<% @title="Home" %>

<div class="home-content">
  <div class="home-info">
    <h1>Welcome to Lattice!</h1>
    <p>Content forthcoming.</p>
    <h2>How do I use it?</h2>
    <p>On the internet.</p>
    <h2>How does it work?</h2>
    <p>Magic. <strong>And science!</strong></p>
  </div>
</div>
