<% @title="Account" %>

<div class="account-info">
  <h1>Your Account Settings</h1>
  <h3>Change Password</h3>
  Old Password<br />
  <input type="text"/><br />
  New Password<br />
  <input type="text"/><br />
  Confirm New Password<br />
  <input type="text"/><br />
  <button type="button">Change Password</button><br />
  
  <h3>Change Email</h3>
  New Email<br />
  <input type="text"/><br />
  Password<br />
  <input type="text"/><br />
  <button type="button">Change Email</button><br />
</div>
