<% @title="Account" %>

<div class="account-content">
  <div class="account-info">
    <h1>Here's your account settings!</h1>
    <p>Soon you'll be able to edit account stuff here like your kitchen settings.</p>
  </div>
  <%= render "shared/sidebar" %>
</div>
