<% @title="About" %>

<div class="info">

  <h1>About Lattice</h1>
  
  <p>Everyone needs more time in their day. Something as simple as cooking a meal shouldn't take you away from the other things you enjoy. Lattice is designed and built to help you save time, while also giving you access to a database of recipes populated by users like you. Let Lattice help you get the job done right.</p>
  
  <h1>Frequently Asked Questions</h1>
  
  <h2>How do I use it?</h2>
  
  <p>Click <strong>Search</strong> in the top bar to search our recipe database, then choose a recipe you want to cook and click <strong>Add to Meal</strong>. When you're satisfied with your meal, click <strong>Combine Recipes</strong> to get your combined instructions.</p>
  <p>If you're interested in sharing your own recipes with the Lattice community, or want to use our algorithm on a secret recipe, sign-in and click <strong>Add Recipe</strong> in the top bar. Add the ingredients of your recipe, then input each step. If you're confused or need help, mouse over the question marks for more information.</p>
  
  <h2>How does it work?</h2>
  
  <p>Lattice's algorithm combines your recipes so that they will all be done at the same time. It ensures you use your kitchen and attention as efficiently as possible and avoids bad situations like needing to take a pie out of the oven while you're in the middle of making hamburger patties. </p>
  
  <p>Because of the way Lattice works, we need you to give us a bit more information about your recipes when you add them. It might take a little longer to add your recipes this way, but you only have to do it once. Then every time you want to make a meal we'll save you time (and stress)!</p>
  
  <h1>About The Team</h1>
  
  <p>Lattice was developed by 6 students at the University of Washington in 2014. Using our custom algorithm, we're able to combine recipes for your meal into one schedule to help you make the best usage of your time and effort. Because the most important part isn't cooking a meal, it's the time you spend with your friends and family when you're done!</p>
  
  <h2>How can I contribute?</h2>
  
  <p>Lattice is an open source software project, hosted on <a href="https://github.com/zeamador/lattice-recipes" target="_blank">Github</a>. More information on how to set up our development environment, run our code, and contribute to the release site is available in the Github README.</p>
  
</div>
