<% @title="About" %>

<div class="info">
  <h1>About Us</h1>
  <p>
  Everyone needs more time in their day. Something as simple as cooking a meal shouldn't take you away from the other things you enjoy. Lattice is designed and built to help you save time, while also giving you access to a database of recipes populated by users like you. Let Lattice help you get the job done right.<br /><br />
  Lattice was developed by 6 students at the University of Washington in 2014. Using our custom algorithm, we're able to combine recipes for your meal into one Lattice Meal to give you the best usage of your time and effort. Because the most important part isn't cooking a meal, it's the time you spend with your friends and family when you're done!<br /><br />
  If you're interested in sharing your own recipes with the community, or just uploading a private recipe for use with our algorithm, head over to the "Add Recipe" page to input it into our system. This can help to grow the Lattice community and provide a custom touch when planning out your favorite meals.
  </p>
</div>
