<% @title="Contact" %>

<div class="contact-info">
  <h1>Contact Us</h1>
  <h3>Meet the Team</h3>
  <ul>
    <li>Bessie (bessieyy), User Account Lead</li>
    <li>Chris (cchalm), Algorithm Expert</li>
    <li>Jake (nashj2), Recipe Upload Lead</li>
    <li>Nick (nnmp), User Interface Designer</li>
    <li>Sam (src712), Test Lead</li>
    <li>Zach (zea), Project Manager</li>
  </ul>
  <h3>Contact</h3>
  <p>For bug reporting, account problems, or if you're interested in
    contributing to Lattice's code base, you can <br />contact us at
    <a href="mailto:cse403_ares@u.washington.edu" target="_top">cse403_ares at u dot washington dot edu</a>.<br />
  </p>
  <h3>Report a Bug</h3>
  <p>Lattice is in beta right now, so we still have few kinks to work out.
    If you experience any unexpected behavior, or want to request new 
    features, we would appreciate getting an email from you. When reporting a 
    problem, please include an informative title, and answer the following
    questions in your description: </p>

    <p><em>What steps will reproduce the problem?<br />
    1. <br />
    2. <br />
    3. <br />

    What incorrect behavior did you see?<br />


    What browser (including version) are you using?<br />


    Provide any additional information below.</em>
    </p>
    <p> If you have a GitHub account, you can also <a href="https://github.com/zeamador/lattice-recipes/issues" target="_blank">report a bug directly</a>. In our issue tracker, you'll be able to view resolved and open issues, or report a new issue by clicking the New Issue button. </p>

</div>
