<% @title="Contact" %>

<div class="home-content">
  <div class="home-info">
    <h1>Contact Us!</h1>
    <p>This could be a pretty sweet place to put some contact information</p>
  </div>
  <%= render "shared/sidebar" %>
</div>
