<% @title="Contact" %>

<div class="contact-info">
  <h1>Contact Us</h1>
  <h3>Meet the Team</h3>
  <p>Bessie, Head of User Accounts</p>
  <p>Chris, Algorithm Expert</p>
  <p>Jake, Chief Recipe Manager</p>
  <p>Nick, Interface Designer</p>
  <p>Sam, Algorithm Expert</p>
  <p>Zach, Project Leader</p>
  <h3>Contact</h3>
  <p>For bug reporting, account problems, or if you're interested in contributing to Lattice's code base, email support@lattice.com.</p>
</div>
