<% @title="Contact" %>

<div class="contact-info">
  <h1>Contact Us</h1>
  <h3>Meet the Team</h3>
  <ul>
    <li>Bessie, User Account Lead</li>
    <li>Chris, Algorithm Expert</li>
    <li>Jake, Recipe Upload Lead</li>
    <li>Nick, User Interface Designer</li>
    <li>Sam, Test Lead</li>
    <li>Zach, Project Manager</li>
  </ul>
  <h3>Contact</h3>
  <p>For bug reporting, account problems, or if you're interested in
    contributing to Lattice's code base, you can contact us through our 
    <a href="mailto:cse403_ares@u.washington.edu" target="_top">mailing list</a>.<br />
    Our development website is hosted on <a href="https://sites.google.com/site/latticerecipes/">Google Sites</a>.<br />
    Our code repository and bug tracking is on <a href="https://github.com/zeamador/lattice-recipes">Github</a>.
  </p>
</div>
