// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.account-info {
  float: left;
  width: 70%;
  background-color: BurlyWood;
  color: Black;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 25px;
}

