/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Global */

body {
  background-color: #1A3959;
  color: white;
  font-family: "Helvetica", sans-serif;
  min-width: 800px;
}

h1, h2, h3 {
  font-family: "Calibri", sans-serif;
}

.info {
  float: left;
  width: 70%;
  overflow: hidden;
  background-color: #EAEEF8;
  color: Black;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 5px;
}

.info-extra-bottom {
  float: left;
  width: 70%;
  overflow: hidden;
  background-color: #EAEEF8;
  color: Black;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 5px;
}

.question-mark-icon {
  vertical-align: text-top;
  width: 17px;
  height: 17px;
}

.alert {
  margin-top: 15px;
}

.alert.alert-login_success {
  margin-top: 0;
}

.alert.alert-login_error {
  margin-top: 0;
  color: Red;
}

input[type="submit"] {
    background-color: #A34318;
    padding: 5px 7px 5px 7px;
    color: White;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
    border: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:6px;
}

/* Global Colorings/Stylings */
a {
  color: #4054A9;
  text-decoration: none;
}

hr {
  border-color: Black;
}
