// Place all the styles related to the footer here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#footer_container {
  clear: both;
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 40px; /* Height of footer */
}

#footer {
  font-size: 10px;
  padding-top: 10px;
  text-align: center;
}

#footer a {
  color: #657BD8;
}
