// Place all the styles related to the header here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Header image and text */

#header {
  text-align: center;
  vertical-align: middle;
  background-image: image-url('lattice-header-background.jpg');
  background-size: 100%;
  background-position: center;
  height: 125px;
  padding-top: 25px;
  font-size: 80px;
  font-weight: bold;
  color: White;
  text-shadow: 0 0 0.2em Black, 0 0 0.2em Black;
}

/* Main Menu */

.main-menu { //whole menu
  float: left;
  text-align: center;
  margin: 5px auto 5px auto;
  min-width: 840px;
  width: 100%;
  height: 40px;
  background-color: #A34318;
}

.main-menu ul { //menu buttons as a whole
  text-align: left;
  min-width: 840px;
  margin: 0;
  padding: 0;
}

.main-menu ul li { //individual menu buttons
  float: left;
  color: White;
  padding: 0 20px 0 20px;
  height: 40px;
  width: 90px;
  list-style: none;
  display: block;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
}

.main-menu ul li:hover { //color change for menu buttons when hovering
  background-color: #DE741D;
  color: Black;
}

.main-menu ul li a:visited { //overrides anchor visited color
  color: White;
}

.main-menu ul a:visited li:hover { //overrides anchor visited color
  color: Black;
}