// Place all the styles related to the meal_schedules controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Recipe actions */

.recipe a {
  margin-right: 20px;
}

#schedule-display>div {
  float: left;
}

#schedule-steps-pane {
  position: relative;
  width: 100%;
  padding-left: 10px;
}

.step-info {
  position: absolute;
}

.column {
  float: right;

  width: 40px;
  height: 100%;

  position: relative;
  margin-left: 5px;
}

.bar {
  position: absolute;
  width: 100%;
  border-radius: 3px;
  box-shadow: 0px 0px 10px #231105;
  overflow: hidden;
}

.bar-content {
  font-family: sans-serif;
  font-size: 30px;
  margin-left: 2px;
  margin-top: -4px;
}

.attention-all {
  color: #FFFFFF;
  background-color: #333333;
}

.attention-some {
  color: #FFFFFF;
  background-color: #B0B0B0;
}

.attention-none {
  color: #000000;
  background-color: #FFFFFF;
}

