// Place all the styles related to the meal_schedules controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Recipe actions */

.ingredients-list {
  margin-left: 20px
}

.ingredients-list>p {
  margin-top: 5px;
}

#schedule-display>div {
  float: left;
}

#schedule-steps-pane {
  position: relative;
  width: 100%;
  padding-left: 10px;
}

.step-info {
  position: absolute;
}

.column {
  float: left;

  width: 40px;
  height: 100%;

  position: relative;
  margin-left: 5px;
}

#timeline-scale {
  float: left;
  height: 100%;
}

.timeline-section { /* For the divs that make up the step timescale */
  margin-top: -6px;
  text-align: right;
  overflow: hidden;
}

#last-timeline-section>img {
  visibility: hidden;
}

.timeline-section-image { /* For the images of the timescale */
  margin-top: 5px;
  float: right;
  vertical-align: top;
}

.timeline-number {
  float: right;
  margin-top: -2px;
  margin-right: 2px;
}

.bar {
  position: absolute;
  width: 100%;
  border-radius: 3px;
  box-shadow: 0px 0px 10px #231105;
  overflow: visible;
}

.bar-content {
  font-family: sans-serif;
  font-size: 30px;
  margin-left: 2px;
  margin-top: -4px;
}

.color-key {
  height: 20px;
  width: 20px;
  float: left;
  margin-right: 5px;
  outline: 1px solid black;
  border: 1px solid white;
}
