// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pages {
  font-weight: bold;
  padding-top: 10px;
}

.recipe {
  border-bottom-style: solid;
  border-bottom-width: thin;
  overflow: hidden;
}

.input-append {
  font-weight: bold;
  padding-top: 20px;
}

.navbar-form {
  padding-bottom: 5px;
  border-bottom-style: solid;
}

.divider {
  border-bottom: solid medium SaddleBrown;
}

.add_nested_fields {
  font-size: medium;
  font-weight: bold;
}

.add-to-meal {
  float: right;
  margin-right: 20px;
}

/* Ingredient Styling and Spacing */
.ingredient {
  border: 0;
  padding: 0 0 5px 0;
  margin: 0;
}

/* Step Styling and Spacing */
.step {
  border: 0;
  padding: 0 0 15px 0;
  margin: 0;
}

.title-label {
  font-size: 16pt;
  font-weight: bold;
}

.right-step-fields {
  float: right;
}

.left-step-fields {
  float: left;
  margin-right: 90px;
}

.step-number {
  margin-top: 20px;
}

.tabbed-margin-left {
  margin-left: 40px;
}

.no-top-margin {
  margin-top: 0;
}

.radio-buttons-label {
  margin-right: 10px;
}

.number-input-box {
  width: 50px;
}

.unit-input-box {
  width: 100px;
}

textarea {
  height: 100px;
  width: 400px;
  font-family: "Helvetica", sans-serif;
}