// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* General styling for recipe pages and JS */

.pages {
  font-weight: bold;
  padding-top: 10px;
}

.input-append {
  font-weight: bold;
  padding-top: 20px;
}

.navbar-form {
  padding-bottom: 5px;
  border-bottom-style: solid;
}

.title-label {
  font-size: 16pt;
  font-weight: bold;
}

.show-detail { /* on view recipe page (link for more or less details) */
  font-size: 18px;
}

/* Recipe display in search and sidebar */

.recipe {
  border-bottom-style: solid;
  border-bottom-width: thin;
  overflow: visible;
}

#step-label {
  margin-top: -15px;
  max-width: 500px;
}

/* Buttons and their containers */

input[value="Edit Recipe"] { /* Edit recipe button */
  float: left;
}

input[value="Delete Recipe"] { /* Delete recipe button */
  float: left;
  margin-left: 20px;
}

.create-recipe-btn { /* Create recipe button location */
  text-align: center;
}

.create-recipe-btn input { /* Create recipe button */
  width: 140px;
  height: 40px;
  font-size: 2em;
}

.add-to-meal { /* Add to meal button */
  float: right;
  margin-right: 20px;
}

.back-to-meal { /* Back to meal button */
  float: right;
  margin-right: 20px;
}

/* Ingredients */

.ingredient {
  border: 0;
  padding: 0 0 5px 0;
  margin: 0;
}

.ingredient-header {
  font-size: 18px;
  font-weight: bold;
}

/* Steps */

textarea { /* description and ingredients */
  height: 100px;
  width: 400px;
  font-family: "Helvetica", sans-serif;
}

.step-header {
  float: left;
  margin-right: 20px;
  font-size: 18px;
  font-weight: bold;
}

.step, .prereq {
  border: 0;
  padding: 0 0 15px 0;
  margin: 0;
}

.step-fields { /* contains left-step-fields and right-step-fields */
  display: block;
  width: 100%;
}

.left-step-fields { /* time and equipment */
  float: left;
  width: 280px;
}

.right-step-fields { /* attentiveness */
  width: 200px;
}

.prereq-prompt {
  max-width: 200px;
}

.prereqs { /* prereq steps */
  display: block;
  width: 100%;
}

.stepnum { /* number for this step */
  font-size: 48pt;
  font-weight: bold;
  color: Grey;
}

.step-left-column {
  float: left;
  min-width: 80px;
  padding-right: 5px;
  text-align: right;
}

.tabbed-margin-left { /* indentation for whole step */
  margin-left: 85px;
}

.no-top-margin {
  margin-top: 0;
}

.radio-buttons-label {
  margin-right: 10px;
}

.number-input-box {
  width: 50px;
}

.remove-step {
  display: inline-block;
  vertical-align: top;
}

.remove-prereq {
  margin-left: 15px;
}

.remove-prereq img {
  vertical-align: middle;
}
