// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pages {
  font-weight: bold;
  padding-top: 10px;
}

.recipe {
  border-bottom-style: solid;
  border-bottom-width: thin;
}

.input-append {
  font-weight: bold;
  padding-top: 20px;
}

.navbar-form {
  padding-bottom: 5px;
  border-bottom-style: solid;
}

.divider {
  border-bottom: solid medium SaddleBrown;
}

/* Step Styling and Spacing */
.title-label {
  font-size: 16pt;
  font-weight: bold;
}

.step-number {
  margin-top: 20px;
}

.tabbed-margin-left {
  margin-left: 40px;
}

.no-top-margin {
  margin-top: 0;
}

.radio-buttons-label {
  margin-right: 10px;
}

.number-input-box {
  width: 50px;
}

.unit-input-box {
  width: 100px;
}

textarea {
  height: 100px;
  width: 400px;
}