// Place all the styles related to the Sidebar here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.side-bar {
  float: right;
  width: 26%;
  color: Black;
}

.side-bar a {
  text-decoration: none;
  padding: 5px;
}

.side-bar-section {
  background-color: #EAEEF8;
  box-shadow: 0px 0px 10px #231105;
  margin-bottom: 10px;
}

.header-side-bar {
  padding: 5px 15px 5px 15px;
  background-color: #A34318;
  color: White;
}

.content-side-bar {
  padding: 5px;
  padding-left: 15px;
}

.content-side-bar ul {
  list-style-type: none;
  padding-left: 0;
}

.content-side-bar .recipe-title {
  margin: 2px;
  margin-left: 15px;
  padding: 2px;
}

.content-side-bar .recipe-tags {
  margin: 2px;
  margin-left: 15px;
  padding: 2px;
}

.side-bar-recipe {
  border-bottom-style: solid;
  border-bottom-width: thin;
  overflow: hidden;
  padding: 5px;
}

.meal-recipe-link-side-bar {
  float: right;
  padding-left: 15px;
}
