// Place all the styles related to the Sidebar here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.side-bar {
  float: right;
  width: 26%;
  color: Black;
}

.side-bar a {
  text-decoration: none;
}

.user-side-bar {
  background-color: #EAEEF8;
  box-shadow: 0px 0px 10px #231105;
  margin-bottom: 10px;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: #A34318;
}

.user-header-side-bar {
  padding: 0 15px 0 15px;
  background-color: #A34318;
  color: White;
}

.user-content-side-bar {
  padding: 0;
}

.user-content-side-bar ul {
  padding-left: 30px;
  margin: 0;
  list-style-type: none;
}

.recent-side-bar {
  background-color: #EAEEF8;
  box-shadow: 0px 0px 10px #231105;
  margin-bottom: 10px;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: #A34318;
}

.recent-header-side-bar {
  padding: 0 15px 0 15px;
  background-color: #A34318;
  color: White;
}

.recent-content-side-bar {
  padding: 0;
}

.recent-content-side-bar .recipe-title {
  margin: 2px;
  margin-left: 25px;
  padding: 2px;
}

.recent-content-side-bar .recipe-tags {
  margin: 2px;
  margin-left: 25px;
  padding: 2px;
}

.kitchen-meal-side-bar {
  background-color: #EAEEF8;
  box-shadow: 0px 0px 10px #231105;
  margin-bottom: 10px;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: #A34318;
}

.kitchen-meal-header-side-bar {
  background-color: #A34318;
  color: White;
  padding-left: 15px;
}

.kitchen-side-bar {
  padding: 0 15px 0 0;
}

.kitchen-side-bar .your-kitchen {
  margin-left: 0;
}

.kitchen-side-bar div {
  margin-left: 15px;
}

.meal-side-bar {
  padding: 0 15px 0 15px;
}

.meal-side-bar .view-meal {
  margin-left: 15px;
}
