/* Side Bar */

.side-bar {
  float: right;
  width: 26%;
  color: Black;
}

.side-bar a {
  text-decoration: none;
}

.user-side-bar {
  background-color: White;
  margin-bottom: 10px;
  border-style: solid;
  border-width: 1px;
}

.user-header-side-bar {
  padding: 0 15px 0 15px;
  background-color: Black;
  color: White;
}

.user-content-side-bar {
  padding: 0;
}

.user-content-side-bar ul {
  margin: 0;
}

.recent-side-bar {
  background-color: White;
  margin-bottom: 10px;
  border-style: solid;
  border-width: 1px;
}

.recent-header-side-bar {
  padding: 0 15px 0 15px;
  background-color: Black;
  color: White;
}

.recent-content-side-bar {
  padding: 0;
}

.recent-content-side-bar ul {
  margin: 0;
}

.kitchen-meal-side-bar {
  background-color: White;
  margin-bottom: 10px;
  border-style: solid;
  border-width: 1px;
}

.kitchen-meal-header-side-bar {
  background-color: Black;
  color: White;
  padding-left: 15px;
}

.kitchen-side-bar {
  padding: 0 15px 0 15px;
}

.kitchen-side-bar .burners {
  margin-left: 15px;
}

.kitchen-side-bar .ovens {
  margin-left: 15px;
}

.kitchen-side-bar .microwaves {
  margin-left: 15px;
}

.kitchen-side-bar .sinks {
  margin-left: 15px;
}

.kitchen-side-bar .toasters {
  margin-left: 15px;
}

.meal-side-bar {
  padding: 0 15px 0 15px;
}

.meal-side-bar .view-meal {
  margin-left: 15px;
}
