.tutorial-section {
  overflow: hidden;
  padding-left: 452px;
}

.upload-form {
  float: left;
  padding-left: 20px;
  margin-left: -452px;
  border-style: dashed;
  border-width: thin;
  width: 430px;
  background-color: white;
}

.annotation {
  float: left;
  padding-left: 20px;
  padding-right: 20px;
}

.tutorial-textbox {
  resize: none;
}
