// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Errors */

#error_explanation { //error discription
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors { //entry box with errors
  @extend .control-group;
  @extend .error;
  display: inline;
}

.field_with_errors label { //label to box with error
  text-shadow: 0 0 0.05em Red;
}

/* Buttons */

.btn.btn-large.btn-primary { //submit button
  margin-top: 10px;
}

/* Input boxes */

.edit_kitchen input[type="number"] { //inputing numbers in kitchen settings
  width: 50px;
}