// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bullets {
  float: left;
}

.center-image {
  padding-left: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  float: left;
  width: 600px;
}