// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.welcome-content {
  padding-left: 300px;
}

.bullets {
  list-style-type: none;
  float: left;
  padding-top: 15px;
  padding-left: 10px;
  margin-left: -300px;
}

.bullets li {
  padding-bottom: 50px;
}

.bullet-image {
  width: 35px;
  height: 35px;
  vertical-align: middle;
}

.center-image {
  padding-left: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  float: left;
  min-width: 240px;
  max-width: 600px;
}

.center-image img {
  height: 100%;
  width: 100%;
}