  <div class="tutorial-section">
    <div class="upload-form">
      <p>
        <strong>Title</strong><br />
        <input type="text" value="Molasses Cookies" disabled="true"/>
      </p>
      <p>
        <strong>Tags</strong> (separate with commas)<br />
        <input type="text" value="dessert, spicy, chewy" disabled="true"/>
      </p>

      <input type="checkbox" disabled="true" checked />
      <span>
        <strong>Secret</strong>
        <a class="tooltip">
          <img class="question-mark-icon"
               src="/assets/question-mark-icon.png" />
          <span>
            Secret recipes cannot be searched for or viewed by other users.
          </span>
        </a>
      </span>

      <p>
        <strong>Servings</strong><br />
        <input class="number-input-box" value="30" disabled="true" />
      </p>

      <p>
        <strong>Ingredients</strong>
        <a class="tooltip">
          <img class="question-mark-icon"
               src="/assets/question-mark-icon.png" />
          <span>List each of the ingredients required for this recipe on
            its own line. For example:<br>
            1 cup water<br>
            3 apples<br>
            A few dashes of sugar</span>
        </a><br />
        <textarea disabled class="tutorial-textbox">
3/4 cup margarine, melted
1 cup white sugar
1 egg
1/4 cup molasses
2 cups all-purpose flour
2 teaspoons baking soda
1/2 teaspoon salt
1 teaspoon ground cinnamon
1/2 teaspoon ground cloves
1/2 teaspoon ground ginger
1/2 cup white sugar
        </textarea>
      </p>
    </div>

    <div class="annotation">
      <h3>General Information</h3>
      <p>Your recipe <strong>title</strong>, <strong>servings</strong>,
        and <strong>ingredients</strong> can be copied exactly from
        whatever format they are currently in.</p>
      <p><strong>Tags</strong> are just single words that categorize or
        describe your recipe. These are optional, but will help other users
        find your recipe more easily.</p>
      <p>Marking your recipe as <strong>secret</strong> means that you are
        the only user who will be able view or add this recipe to a meal.</p>
    </div>
  </div>
  <br />
  <br />
