<span class="prereqs-title">Prerequisite Steps:</span>
<a class="tooltip">
  <img class="question-mark-icon"
       src="/assets/question-mark-icon.png"></img>
  <span>
    Prerequisite steps are steps that must be completed before this
    one. If you're adding something to boiling water, the step to
    boil the water should be added as a prereq.
  </span>
</a>
<br />
Steps that must <strong>precede</strong> this one.
