<% @title="Tutorial" %>

<div class="info extra-bottom">
  <h1>Tutorial</h1>
  <p>In order to provide you with with best meal schedule, Lattice needs
    some information that isn't normally included in a recipe. Here are
    some examples to help you get started.<br /><br />
    If you have any questions, comments, or concerns regarding this page,
    feel free to contact us.</p>
  <h2>Adding a Recipe</h2>

  <% #Basic recipe information %>
  <div class="tutorial-section">
    <div class="upload-form">
      <p>
        <strong>Title</strong><br />
        <input type="text" value="Molasses Cookies" disabled="true"/>
      </p>
      <p>
        <strong>Tags</strong> (separate with commas)<br />
        <input type="text" value="dessert, spicy, chewy" disabled="true"/>
      </p>

      <input type="checkbox" disabled="true" checked />
      <span>
        <strong>Secret</strong>
        <a class="tooltip">
          <img class="question-mark-icon"
               src="/assets/question-mark-icon.png" />
          <span>
            Secret recipes cannot be searched for or viewed by other users.
          </span>
        </a>
      </span>

      <p>
        <strong>Servings</strong><br />
        <input class="number-input-box" value="30" disabled="true" />
      </p>

      <p>
        <strong>Ingredients</strong>
        <a class="tooltip">
          <img class="question-mark-icon"
               src="/assets/question-mark-icon.png" />
          <span>List each of the ingredients required for this recipe on
            its own line. For example:<br>
            1 cup water<br>
            3 apples<br>
            A few dashes of sugar</span>
        </a><br />
        <textarea disabled class="tutorial-textbox">
3/4 cup margarine, melted
1 cup white sugar
1 egg
1/4 cup molasses
2 cups all-purpose flour
2 teaspoons baking soda
1/2 teaspoon salt
1 teaspoon ground cinnamon
1/2 teaspoon ground cloves
1/2 teaspoon ground ginger
1/2 cup white sugar
        </textarea>
      </p>
    </div>

    <div class="annotation">
      <h3>General Information</h3>
      <p>Your recipe <strong>title</strong>, <strong>servings</strong>,
        and <strong>ingredients</strong> can be copied exactly from
        whatever format they are currently in.</p>
      <p><strong>Tags</strong> are just single words that categorize or
        describe your recipe. These are optional, but will help other users
        find your recipe more easily.</p>
      <p>Marking your recipe as <strong>secret</strong> means that you are
        the only user who will be able view or add this recipe to a meal.</p>
    </div>
  </div>
  <br />
  <br />

  <% #Step Basics %>
  <div class="tutorial-section">
    <div class="upload-form">
      <p><strong>Typical Cookbook Step</strong></p>
      <p>
        3. Simmer sauce over medium-high heat for 5 minutes,
        then remove from heat and add cream.
      </p>
      <p><strong>Lattice Recipe Steps</strong></p>

      <% #Step 1 %>
      Step 3. <br />
      <textarea disabled class="tutorial-textbox">
Simmer sauce over medium-high heat for 5 minutes.
      </textarea>
      <br />
      <div class="step-fields">
        <span class="left-step-fields">
          Time:
          <a class="tooltip">
            <img class="question-mark-icon"
                 src="/assets/question-mark-icon.png" />
            <span>How long does this step take?</span>
          </a>
          <input class="number-input-box" value="5" disabled="true" />
          minutes

          <div>
            Equipment:
            <select disabled>
              <option>Burner</option>
              <option>Microwave</option>
            </select>
          </div>
          <br />
        </span>

        <span class="right-step-fields">
          Attentiveness:
          <a class="tooltip">
            <img class="question-mark-icon"
                 src="/assets/question-mark-icon.png" />
            <span>
              How much of your attention does this step require?
              For example:<br />
              Chopping or sauteing - All<br />
              Stirring occasionally - Some<br />
              Boiling water - None
            </span>
          </a>
        </span>
        <br />
        <input disabled type="radio" name="attention1" />All<br />
        <input disabled type="radio" name="attention1" />Some<br />
        <input disabled type="radio" name="attention1" checked/>None<br />
        <br />
      </div>

      <% #Step 2 %>
      Step 4. <br />
      <textarea disabled class="tutorial-textbox">
Remove from heat and add cream.
      </textarea>
      <br />
      <div class="step-fields">
        <span class="left-step-fields">
          Time:
          <a class="tooltip">
            <img class="question-mark-icon"
                 src="/assets/question-mark-icon.png" />
            <span>How long does this step take?</span>
          </a>
          <input class="number-input-box" value="2" disabled="true" />
          minutes

          <div>
            Equipment:
            <select disabled>
              <option>None</option>
              <option>Microwave</option>
            </select>
          </div>
          <br />
        </span>
        <span class="right-step-fields">
          Attentiveness:
          <a class="tooltip">
            <img class="question-mark-icon"
                 src="/assets/question-mark-icon.png" />
            <span>
              How much of your attention does this step require?
              For example:<br>
              Chopping or sauteing - All<br>
              Stirring occasionally - Some<br>
              Boiling water - None
            </span>
          </a>
          <br />
          <input disabled type="radio" name="attention2" checked />All<br />
          <input disabled type="radio" name="attention2" />Some<br />
          <input disabled type="radio" name="attention2" />None<br />
        </span>

        Prereq step number:
        <input class="number-input-box" value="3" disabled="true" />
        <% #Immediate Prereq %>
        <div>
          <input type="checkbox" disabled="true" checked />
          Immediate prereq
          <a class="tooltip">
            <img class="question-mark-icon"
                 src="/assets/question-mark-icon.png" />
            <span>
              An immediate prereq must be performed immediately before this
              step, with no steps in between.
            </span>
          </a>
        </div>
        <% #Preheat Prereq %>
        <div>
          <input type="checkbox" disabled="true" />
          Preheat prereq
          <a class="tooltip">
            <img class="question-mark-icon"
                 src="/assets/question-mark-icon.png" />
            <span>
              If this step uses the oven, is this prereq the one that
              preheated the oven?
            </span>
          </a>
        </div>
      </div>
      <br />
    </div>
    <div class="annotation">
      <h3>Step Basics</h3>
      <p>
        The <strong>time</strong> of a step is an estimate of the number of
        minutes it takes for the entire step to finish. This includes time when
        the cook is not actively doing anything and does not need to be exact.
      </p>
      <p>
        We want to ensure that a cook's <strong>equipment</strong> is not
        overused.
        So we need to know if a step uses a limited kitchen resource,
        like the oven, sink, microwave, etc.
      </p>
      <h4>Breaking Up Steps</h4>
      <p>
        Steps should be broken up into small, indivisible tasks. If parts of
        the step could be done at the same time, or something else could be
        performed inbetween these parts, the step should be split up.
      </p>
      <p>
        In general, a single step should not use more than one piece of
        equipment or differing amounts of attention. If the first part of a
        step uses some attention and the second part uses all attention, it
        should be split into separate steps.
      </p>
    </div>
  </div>
  <br />
  <br />

  <% #Attentiveness %>
  <div class="tutorial-section">
    <div class="upload-form">
      <!-- All -->
      <br /><strong>All Attention Required</strong><br />
      <textarea disabled class="tutorial-textbox">
Spread marinade over each steak.
      </textarea>
      <br />
      <div class="step-fields">
        <span class="left-step-fields">
          Time
          <a class="tooltip">
            <img class="question-mark-icon"
                src="/assets/question-mark-icon.png" />
            <span>How long does this step take?</span>
          </a>
          <input class="number-input-box" value="5" disabled="true" />
          minutes

          <div>
            Equipment:
            <select disabled>
              <option>None</option>
              <option>Microwave</option>
            </select>
          </div>
          <br />
        </span>

        <span class="right-step-fields">
          Attentiveness:
          <a class="tooltip">
            <img class="question-mark-icon"
                 src="/assets/question-mark-icon.png" />
            <span>
              How much of your attention does this step require?
              For example:<br />
              Chopping or sauteing - All<br />
              Stirring occasionally - Some<br />
              Boiing water - None
            </span>
          </a>
          <br />
          <input disabled type="radio" name="all" checked />All<br />
          <input disabled type="radio" name="all" />Some<br />
          <input disabled type="radio" name="all" />None<br />
          <br />
        </span>
      </div>

      <% #Some %>
      <strong>Some Attention Required</strong><br />
      <textarea disabled class="tutorial-textbox">
Place chicken in a pan, and lightly brown.
      </textarea>
      <br />
      <div class="step-fields">
        <span class="left-step-fields">
         Time
         <a class="tooltip">
           <img class="question-mark-icon"
                src="/assets/question-mark-icon.png" />
           <span>How long does this step take?</span>
         </a>
         <input class="number-input-box" value="10" disabled="true" />
         minutes

         <div>
           Equipment:
           <select disabled>
             <option>Burner</option>
             <option>Microwave</option>
           </select>
         </div>
         <br />
        </span>

        <span class="right-step-fields">
          Attentiveness:
          <a class="tooltip">
            <img class="question-mark-icon"
                 src="/assets/question-mark-icon.png" />
           <span>
             How much of your attention does this step require?
             For example:<br>
             Chopping or sauteing - All<br>
             Stirring occasionally - Some<br>
             Boiling water - None
           </span>
          </a>
          <br />
          <input disabled type="radio" name="some" />All<br />
          <input disabled type="radio" name="some" checked />Some<br />
          <input disabled type="radio" name="some" />None<br />
          <br />
        </span>
      </div>

      <% #None %>
      <strong>No Attention Required</strong><br />
      <textarea disabled class="tutorial-textbox">
Preheat oven to 350 F.
      </textarea>
      <br />
      <div class="step-fields">
        <span class="left-step-fields">
          Time
          <a class="tooltip">
            <img class="question-mark-icon"
                 src="/assets/question-mark-icon.png" />
            <span>How long does this step take?</span>
          </a>
          <input class="number-input-box" value="10" disabled="true" />minutes

          <div>
            Equipment:
            <select disabled>
              <option>Oven</option>
              <option>Microwave</option>
            </select>
          </div>
          <br />
        </span>
        <span class="right-step-fields">
          Attentiveness:
          <a class="tooltip">
            <img class="question-mark-icon"
                 src="/assets/question-mark-icon.png" />
            <span>How much of your attention does this step require?
              For example:<br />
              Chopping or sauteing - All<br />
              Stirring occasionally - Some<br />
              Boiling water - None
           </span>
          </a>
          <br />
          <input disabled type="radio" name="none" />All<br />
          <input disabled type="radio" name="none" />Some<br />
          <input disabled type="radio" name="none" checked />None<br />
         <br />
        </span>
      </div>
    </div>
    <div class="annotation">
      <h3>Attentiveness</h3>
      <p>
        If it would be physically difficult to perform an identical task
        at the same time, then a step should be marked as using
        <strong>all of your attention</strong>. Examples include chopping
        vegetables, mixing ingredients, and stirring constantly.
      </p>
      <p>
        Steps that only require periodic or passive attention should be marked
        as <strong>some attention</strong>. Many steps that use the burner, for
        example, require you to keep an eye on the cooking food, and may
        require occasionally stirring.
      </p>
      <p><strong>No attention</strong> steps are those that a cook can
        completely ignore for the majority of their duration. Examples include
        preheating the oven, letting something cool, and boiling water.
      </p>
    </div>
  </div>
  <br />
  <br />

  <% #Prerequisites %>
  <div class="tutorial-section">
    <div class="upload-form">

      <% #Step 1 %>
      <br />Step 1.<br />
      <textarea disabled class="tutorial-textbox">
Slice salami.
      </textarea>
      <br />
      <div class="step-fields">
        <span class="left-step-fields">
          Time
          <a class="tooltip">
            <img class="question-mark-icon"
                 src="/assets/question-mark-icon.png" />
            <span>How long does this step take?</span>
          </a>
          <input class="number-input-box" value="5" disabled="true" />
          minutes

          <div>
            Equipment:
            <select disabled>
              <option>None</option>
              <option>Microwave</option>
            </select>
          </div>
          <br />
        </span>

        <span class="right-step-fields">
          Attentiveness:
          <a class="tooltip">
            <img class="question-mark-icon"
                 src="/assets/question-mark-icon.png" />
            <span>
              How much of your attention does this step require?
              For example:<br />
              Chopping or sauteing - All<br />
              Stirring occasionally - Some<br />
              Boiing water - None
            </span>
          </a>
          <br />
          <input disabled type="radio" name="sal" checked />All<br />
          <input disabled type="radio" name="sal" />Some<br />
          <input disabled type="radio" name="sal" />None<br />
          <br />
        </span>
      </div>

      <% #Step 2 %>
      Step 2.<br />
      <textarea disabled class="tutorial-textbox">
Slice cheese.
      </textarea>
      <br />
      <div class="step-fields">
        <span class="left-step-fields">
          Time
          <a class="tooltip">
            <img class="question-mark-icon"
                 src="/assets/question-mark-icon.png" />
            <span>How long does this step take?</span>
          </a>
          <input class="number-input-box" value="5" disabled="true" />
          minutes

          <div>
            Equipment:
            <select disabled>
              <option>None</option>
              <option>Microwave</option>
            </select>
          </div>
          <br />
        </span>

        <span class="right-step-fields">
          Attentiveness:
          <a class="tooltip">
            <img class="question-mark-icon"
                 src="/assets/question-mark-icon.png" />
            <span>
              How much of your attention does this step require?
              For example:<br />
              Chopping or sauteing - All<br />
              Stirring occasionally - Some<br />
              Boiing water - None
            </span>
          </a>
          <br />
          <input disabled type="radio" name="che" checked />All<br />
          <input disabled type="radio" name="che" />Some<br />
          <input disabled type="radio" name="che" />None<br />
          <br />
        </span>
      </div>

      <% #Step 3 %>
      Step 3.<br />
      <textarea disabled class="tutorial-textbox">
Lay salami and cheese on bread.
      </textarea>
      <br />
      <div class="step-fields">
              <span class="left-step-fields">
                Time
          <a class="tooltip">
            <img class="question-mark-icon"
                 src="/assets/question-mark-icon.png" />
            <span>How long does this step take?</span>
          </a>
          <input class="number-input-box" value="2" disabled="true" />
          minutes

          <div>
            Equipment:
            <select disabled>
              <option>None</option>
              <option>Microwave</option>
            </select>
          </div>
          <br />
        </span>

        <span class="right-step-fields">
          Attentiveness:
          <a class="tooltip">
            <img class="question-mark-icon"
                 src="/assets/question-mark-icon.png" />
            <span>
              How much of your attention does this step require?
              For example:<br />
              Chopping or sauteing - All<br />
              Stirring occasionally - Some<br />
              Boiing water - None
            </span>
          </a>
          <br />
          <input disabled type="radio" name="bread" checked>All<br />
          <input disabled type="radio" name="bread">Some<br />
          <input disabled type="radio" name="bread">None<br />
        </span>

        Prereq step number:
        <input class="number-input-box" value="2" disabled="true" />
        <% #Immediate Prereq %>
        <div>
          <input type="checkbox" disabled="true" />
          Immediate prereq
          <a class="tooltip">
            <img class="question-mark-icon"
                 src="/assets/question-mark-icon.png" />
            <span>
              An immediate prereq must be performed immediately before this
              step, with no steps in between.
            </span>
          </a>
        </div>
        <% #Preheat Prereq %>
        <div>
          <input type="checkbox" disabled="true" />
          Preheat prereq
          <a class="tooltip">
            <img class="question-mark-icon"
                 src="/assets/question-mark-icon.png" />
            <span>
              If this step uses the oven, is this prereq the one that
              preheated the oven?
            </span>
          </a>
        </div>
        <br />

        Prereq step number:
        <input class="number-input-box" value="1" disabled="true" />
        <% #Immediate Prereq %>
        <div>
          <input type="checkbox" disabled="true" />
          Immediate prereq
          <a class="tooltip">
            <img class="question-mark-icon"
                 src="/assets/question-mark-icon.png" />
            <span>
              An immediate prereq must be performed immediately before this
              step, with no steps in between.
            </span>
          </a>
        </div>
        <% #Preheat Prereq %>
        <div>
          <input type="checkbox" disabled="true" />
          Preheat prereq
          <a class="tooltip">
            <img class="question-mark-icon"
                 src="/assets/question-mark-icon.png" />
            <span>
              If this step uses the oven, is this prereq the one that
              preheated the oven?
            </span>
          </a>
        </div>
        <br />
      </div>

      <% #Step 4 %>
      Step 4.<br />
      <textarea disabled class="tutorial-textbox">
Toast sandwich on stove.
      </textarea>
      <br />
      <div class="step-fields">
        <span class="left-step-fields">
          Time
          <a class="tooltip">
            <img class="question-mark-icon"
                 src="/assets/question-mark-icon.png" />
            <span>How long does this step take?</span>
          </a>
          <input class="number-input-box" value="5" disabled="true" />
          minutes

          <div>
            Equipment:
            <select disabled>
              <option>Burner</option>
              <option>Microwave</option>
            </select>
          </div>
          <br />
        </span>

        <span class="right-step-fields">
          Attentiveness:
          <a class="tooltip">
            <img class="question-mark-icon"
                 src="/assets/question-mark-icon.png" />
            <span>
              How much of your attention does this step require?
              For example:<br />
              Chopping or sauteing - All<br />
              Stirring occasionally - Some<br />
              Boiing water - None
            </span>
          </a>
          <br />
          <input disabled type="radio" name="toast">All<br />
          <input disabled type="radio" name="toast" checked>Some<br />
          <input disabled type="radio" name="toast">None<br />
        </span>

        Prereq step number:
        <input class="number-input-box" value="3" disabled="true" />
        <% #Immediate Prereq %>
        <div>
          <input type="checkbox" disabled="true" />
          Immediate prereq
          <a class="tooltip">
            <img class="question-mark-icon"
                 src="/assets/question-mark-icon.png" />
            <span>
              An immediate prereq must be performed immediately before this
              step, with no steps in between.
            </span>
          </a>
        </div>
        <% #Preheat Prereq %>
        <div>
          <input type="checkbox" disabled="true" />
          Preheat prereq
          <a class="tooltip">
            <img class="question-mark-icon"
                 src="/assets/question-mark-icon.png" />
            <span>
              If this step uses the oven, is this prereq the one that
              preheated the oven?
            </span>
          </a>
        </div>
        <br />
      </div>
    </div>
    <div class="annotation">
      <h3>Prerequisites</h3>
      <p>
        Any step that must be completed before this step can be started should
        be added as a <strong>prereq</strong> for this step. For example,
        vegetables must be chopped before they can be cooked.
      </p>
      <p>
        If a prereq for this step has its own prereqs, those do not need to be
        added again. See how Step 4 has Step 3 as a prereq, but not Steps 1 and
        2.
      </p>
    </div>
  </div>
  <br />
  <br />

  <% # Special Prerequisites %>
  <div class="tutorial-section">
    <div class="upload-form">

      <% #Step 1 %>
      <br />Step 1.<br />
      <textarea disabled class="tutorial-textbox">
Preheat oven to 400 F.
      </textarea>
      <br />
      <div class="step-fields">
        <span class="left-step-fields">
          Time
          <a class="tooltip">
            <img class="question-mark-icon"
                 src="/assets/question-mark-icon.png" />
            <span>How long does this step take?</span>
          </a>
          <input class="number-input-box" value="15" disabled="true" />
          minutes

          <div>
            Equipment:
            <select disabled>
              <option>Oven</option>
              <option>Microwave</option>
            </select>
          </div>
          <br />
        </span>

        <span class="right-step-fields">
          Attentiveness:
          <a class="tooltip">
            <img class="question-mark-icon"
                 src="/assets/question-mark-icon.png" />
            <span>
              How much of your attention does this step require?
              For example:<br />
              Chopping or sauteing - All<br />
              Stirring occasionally - Some<br />
              Boiing water - None
            </span>
          </a>
          <br />
          <input disabled type="radio" name="oven" />All<br />
          <input disabled type="radio" name="oven" />Some<br />
          <input disabled type="radio" name="oven" checked />None<br />
          <br />
        </span>
      </div>

      <% #Step 2 %>
      Step 2.<br />
      <textarea disabled class="tutorial-textbox">
Bake dish for one hour.
      </textarea>
      <br />
      <div class="step-fields">
        <span class="left-step-fields">
          Time
          <a class="tooltip">
            <img class="question-mark-icon"
                 src="/assets/question-mark-icon.png" />
            <span>How long does this step take?</span>
          </a>
          <input class="number-input-box" value="60" disabled="true" />
          minutes

          <div>
            Equipment:
            <select disabled>
              <option>Oven</option>
              <option>Microwave</option>
            </select>
          </div>
          <br />
        </span>

        <span class="right-step-fields">
          Attentiveness:
          <a class="tooltip">
            <img class="question-mark-icon"
                 src="/assets/question-mark-icon.png" />
            <span>
              How much of your attention does this step require?
              For example:<br />
              Chopping or sauteing - All<br />
              Stirring occasionally - Some<br />
              Boiing water - None
            </span>
          </a>
          <br />
          <input disabled type="radio" name="dough" />All<br />
          <input disabled type="radio" name="dough" />Some<br />
          <input disabled type="radio" name="dough" checked />None
          <br />
        </span>
      </div>
      Prereq step number:
      <input class="number-input-box" value="1" disabled="true" />
      <% #Immediate Prereq %>
      <div>
        <input type="checkbox" disabled="true" />
        Immediate prereq
          <a class="tooltip">
            <img class="question-mark-icon"
                 src="/assets/question-mark-icon.png" />
            <span>
              An immediate prereq must be performed immediately before this
              step, with no steps in between.
            </span>
          </a>
      </div>
      <% #Preheat Prereq %>
      <div>
        <input type="checkbox" disabled="true" checked />
        Preheat prereq
        <a class="tooltip">
            <img class="question-mark-icon"
                 src="/assets/question-mark-icon.png" />
            <span>
              If this step uses the oven, is this prereq the one that
              preheated the oven?
            </span>
        </a>
        </div>
      <br />

      <% #Step 3 %>
      Step 3.<br />
      <textarea disabled class="tutorial-textbox">
Let dish cool for 15 minutes.
      </textarea>
      <br />
      <div class="step-fields">
        <span class="left-step-fields">
          Time
          <a class="tooltip">
            <img class="question-mark-icon"
                 src="/assets/question-mark-icon.png" />
            <span>How long does this step take?</span>
          </a>
          <input class="number-input-box" value="15" disabled="true" />
          minutes

          <div>
            Equipment:
            <select disabled>
              <option>None</option>
              <option>Microwave</option>
            </select>
          </div>
          <br />
        </span>

        <span class="right-step-fields">
          Attentiveness:
          <a class="tooltip">
            <img class="question-mark-icon"
                 src="/assets/question-mark-icon.png" />
            <span>
              How much of your attention does this step require?
              For example:<br />
              Chopping or sauteing - All<br />
              Stirring occasionally - Some<br />
              Boiing water - None
            </span>
          </a>
          <br />
          <input disabled type="radio" name="bread" />All<br />
          <input disabled type="radio" name="bread" />Some<br />
          <input disabled type="radio" name="bread" checked />None<br />
        </span>

        Prereq step number:
        <input class="number-input-box" value="2" disabled="true" />
        <% #Immediate Prereq %>
        <div>
          <input type="checkbox" disabled="true" checked />
          Immediate prereq
          <a class="tooltip">
            <img class="question-mark-icon"
                 src="/assets/question-mark-icon.png" />
            <span>
              An immediate prereq must be performed immediately before this
              step, with no steps in between.
            </span>
          </a>
        </div>
        <% #Preheat Prereq %>
        <div>
          <input type="checkbox" disabled="true" />
          Preheat prereq
          <a class="tooltip">
            <img class="question-mark-icon"
                 src="/assets/question-mark-icon.png" />
            <span>
              If this step uses the oven, is this prereq the one that
              preheated the oven?
            </span>
          </a>
        </div>
        <br />
      </div>
    </div>

    <div class="annotation">
      <h3>Preheat Prerequisites</h3>
      <p>
        Step 1 preheats the oven for Step 2 to use. This means that Step 1 is a
        <strong>preheat prereq</strong>	for Step 2. Steps that do not use the
        oven should not have preheat prereqs. Each step can only have one
        preheat prereq.
      </p>

      <h3>Immediate Prerequisites</h3>
      <p>
        Step 3 only makes sense if it starts right when
        Step 2 finishes, which is why Step 2 is its
        <strong>immediate prereq</strong>. When an action is time sensitive (for
        example, things will burn if the step is not immediately performed), it
        should also have an immediate prereq. Each step can only have one
        immediate prereq.
      </p>
    </div>
  </div>
  <br />
</div>
