<% @title="Tutorial" %>

<div class="info">
  <h1>Tutorial</h1>
  <p>In order to provide you with with best meal schedule we can, Lattice needs some information that isn't normally included in a recipe. You might not be used to answering these sorts of questions about a recipe, so we've provided some examples below. Please contact us if something is still unclear or you have suggestions on how to improve this tutorial.</p>
  <h2>Adding a Recipe</h2>

  <!-- Basic recipe information -->
  <div class="tutorial-section">
    <div class="upload-form">
      <p>
	<strong>Title</strong><br />
	<input type="text" value="Molasses Cookies" disabled="true"/>
      </p>
      <p>
	<strong>Tags</strong> (separate with commas)<br />
	<input type="text" value="dessert, spicy, chewy" disabled="true"/>
      </p>
    
      <input type="checkbox" disabled="true" checked />
      <span class="check-box-label"><strong>Secret</strong>
	<a class="tooltips">
	  <img class="question-mark-icon" 
	       src="/assets/question-mark-icon.png"></img>
	  <span>Other users will not be able to see this recipe.</span>
	</a>
      </span>
    
      <p>
	<strong>Servings</strong><br />
	<input class="number-input-box" value="30" disabled="true" />
      </p>
      
      <p>
	<strong>Ingredients</strong>
	<a class="tooltips">
	  <img class="question-mark-icon" 
	       src="/assets/question-mark-icon.png"></img>
	  <span>List ingredients each on their own line. Examples:<br>
	    1 cup water<br>
	    3 apples<br>
	    A few dashes of sugar</span>
	</a><br />
	<textarea disabled class="tutorial-textbox">
3/4 cup margarine, melted
1 cup white sugar
1 egg
1/4 cup molasses
2 cups all-purpose flour
2 teaspoons baking soda
1/2 teaspoon salt
1 teaspoon ground cinnamon
1/2 teaspoon ground cloves
1/2 teaspoon ground ginger
1/2 cup white sugar
	</textarea>
      </p>
    </div>

    <div class="annotation">
      <h3>General Information</h3>
      <p>The first part of adding a recipe to Lattice should look very familiar. Your recipe <strong>title</strong>, <strong>servings</strong>, and <strong>ingredients</strong> can be copied exactly from whatever format they are currently in.</p>
      <p><strong>Tags</strong> are just single words that categorize or describe your recipe. These are optional, but will help other users find your recipe more easily. It is unnecessary to repeat any words that already occur in the title.</p>
      <p>Marking your recipe as <strong>secret</strong> means that you are the only user who will be able access this recipe. It will not show up in searches or the latest recipes sidebar for any other user. This also means you won't be able to see this recipe if you are signed out.</p>
    </div>
  </div>
  <br />

  <!-- Step Basics -->
  <div class="tutorial-section">
    <div class="upload-form">
      <p><strong>Typical Cookbook Step:</strong></p>
      <p>Simmer sauce over medium-high heat for 5 minutes, then remove from heat and add cream.</p>
      <p><strong>Lattice Recipe Steps:</strong></p>
      
      <!-- Step 1 -->
      <textarea disabled class="tutorial-textbox">Simmer sauce over medium-high heat for 5 minutes.
      </textarea>
      <br />
      <div class="step-fields">
	<span class="left-step-fields">
	  Time
	  <input class="number-input-box" value="5" disabled="true" />
          <a class="tooltips">
            <img class="question-mark-icon" 
		 src="/assets/question-mark-icon.png"></img>
            <span>Total time required to complete the step.</span>
          </a>
	  minutes
	  
          <div class="equipment-label">Equipment:
            <select disabled>
	      <option>Burner</option>
	      <option>Microwave</option>
	    </select>
	    
          </div>
          <br />
	</span>
	
	<span class="right-step-fields">
          <span class="radio-buttons-label">Attentiveness:
            <a class="tooltips">
              <img class="question-mark-icon" 
		   src="/assets/question-mark-icon.png"></img>
              <span>How much of your attention does this step require? 
		Examples:<br>
		All) chopping or sauteing<br>
		Some) stirring occasionally<br>
		None) leaving water to boil.</span>
            </a>
          </span>
          <br />
	  <input disabled type="radio" name="attention1">All<br />
	  <input disabled type="radio" name="attention1">Some<br />
	  <input disabled type="radio" name="attention1" checked>None<br />
	  <br />
	</span>
      </div>
    
      <!-- Step 2 -->
      <textarea disabled class="tutorial-textbox">Remove from heat and add cream.
      </textarea>
      <br />
      <div class="step-fields">
	<span class="left-step-fields">
	  Time
	  <input class="number-input-box" value="2" disabled="true" />
          <a class="tooltips">
            <img class="question-mark-icon" 
		 src="/assets/question-mark-icon.png"></img>
            <span>Total time required to complete the step.</span>
          </a>
	  minutes
	  
          <div class="equipment-label">Equipment:
            <select disabled>
	      <option>None</option>
	      <option>Microwave</option>
	    </select>
          </div>
          <br />
	</span>
	<span class="right-step-fields">
          <span class="radio-buttons-label">Attentiveness:
            <a class="tooltips">
              <img class="question-mark-icon" 
		   src="/assets/question-mark-icon.png"></img>
              <span>How much of your attention does this step require? 
		Examples:<br>
		All) chopping or sauteing<br>
		Some) stirring occasionally<br>
		None) leaving water to boil.</span>
            </a>
          </span>
          <br />
	  <input disabled type="radio" name="attention2" checked>All<br />
	  <input disabled type="radio" name="attention2">Some<br />
	  <input disabled type="radio" name="attention2">None<br />
	  <br />
	</span>
      </div>
    </div>
    <div class="annotation">
      <h3>Step Basics</h3>
      <p>The <strong>time</strong> of a step is an estimate of the nubmer of minutes it takes for the entire step to finish. This includes time when the cook is not actively doing anything. These times do not need to be exact, but should be a reasonable guess of the time it would take an average cook to complete this task. Other users will be able to customize these times later.</p>
      <p>A key component of Lattice meal schedules is ensuring that a cook's kitchen <strong>equipment</strong> is not overused. In order to do this, we need to know if a step uses a limited kitchen resource, like the oven. We assume, however, that a cook won't run out of knives, bowls, pots, etc. while completing basic cooking tasks.</p>
      <h4>Breaking Up Steps</h4>
      <p>Since Lattice meal schedules aim to optimize a cook's time and resources, it is critical that the steps in Lattice recipes are broken down into small, indivisible tasks. If a recipe's step contains multiple subactions, a Lattice meal schedule will be unable to schedule these actions at the same time or to schedule another action in between them.</p>
      <p>In general, a single step should not use more than one piece of equipment or use different amounts of attention. If the first part of a step uses some attention and the second part uses all attention, it should be split into separate steps.</p>
    </div>
  </div>
  <br />
</div>
