<% @title="My Recipes" %>

<div class="my-recipes-content">
  <div class="my-recipes-info">
    <h1>Here are your recipes!</h1>
    <p>When you have some recipes (and our database can fetch them), they'll show up here.</p>
  </div>
  <%= render "shared/sidebar" %>
</div>
